<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindcrafter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/discussion_forums.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div class="sidebar">
            <h3>Courses</h3>
            <ul>
                {% for course in courses %}
                    <li>
                        <a href="{% url 'discussion' course.course_id %}">
                             {{ course.course_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="content">
            <div class="discussion_forum">
                <div class="heading">
                <h1>Discussion Forum</h1>
                <h4>Post your queries and doubts regarding the courses here!</h4>
                </div>
            
            
            </div>
        </div>
    </div>
    
    <nav class="navbar">
        <ul class="nav-left">
           
            <li>
                <div class="tag_name">
                    <a href="/">Home</a>
                </div>
               </li>
               <li class="dropdown tag_name">
                <a href="/courses" class="dropbtn">Courses</a>
                <div class="dropdown-content">
                    <a href="/my_courses">My Courses</a>
                    
                    <a href="/courses">Explore</a>
                </div>
            </li>
            <li>
          
           </li>
            <li>
                <div class="tag_name">
                    <a href="#">Discussion</a>
                </div>
                </li>
        </ul>
        <ul class="nav-right">
         
         
                    <li class="profile-dropdown">
                        <div class="profile-photo-mini">
                            <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
                            <i class="fas fa-user"></i> <!-- Font Awesome user icon -->
                           
                        </div>
                        <div class="dropdown-content-profile">
                            <div class="tag_name">
                                <a href="/profile">My Profile</a>
                            </div>
                            <div class="tag_name">
                                <a href="/home_unregistered">Logout</a>
                            </div>
                         
                        </div>
                      
                    </li>
                  
        </ul>
    </nav>
    

</body>
</html>
